<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.diasoft.micro.dao.QuestionDaoImpl">
    </bean>

    <bean id="questionService" class="ru.diasoft.micro.service.QuestionServiceImpl">
        <constructor-arg name="file" type="java.lang.String" value="/questions.csv"/>
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

</beans>